<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Checking the pows of 2 inside an array</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div id="app" style="margin-top:50px;">
		<div class="container">
			<div class="form-group"  style="text-align: center; margin-bottom:30px;">
				<h3>Given an array of 5000 elements, let's check the number of pows of 2 inside it</h3>
				<h5>Note: Each element must be from 2-5 positions</h5>
			</div>
			<div class="form-row">
				<button class="btn btn-primary" v-on:click="checkPows()" style="margin-right: 10px;">Check it out!</button>
				<button class="btn btn-warning" v-on:click="resetScreen()">Reset</button>
			</div>
				<p>Pows of 2 found: <span style="font-weight: bold;">{{numOfPows}}</span><p>
			<div class="form-group" style="margin-top: 30px;" v-if="checked != ''">
				<label for="checkeds">Generated number - is Power of 2?</label>
				<textarea name="checkeds" rows="10" class="form-control" v-model="checked"></textarea>
				<p>Total Elements: <span style="font-weight: bold;">{{rndSize}}</span></p>
			</div>
		</div>
	</div>
<script src="https://unpkg.com/vue"></script>
<script src="main.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>